.charts-wraper{
	position: absolute;
  left:0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transition: opacity 0.8s ease-out;
  -webki-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
}
.charts-wraper.visible{
  opacity: 1;
   transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
}
.charts-content{
  position: relative;
}
.close-charts{
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #EFEFEF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}
.inv-chart-wrap, .listing-requests-chart-wrap{
	width: 800px;
  margin: auto;
  padding-top: 25px;
}

.inv-chart-filter, .listing-requests-chart-filter{
	margin: auto;
}
#inv-chart, #listing-requests-chart{
	width: 100%;
	height: 250px;
}
.listing-requests-chart-filter{
	width: 116px;
}
.inv-chart-filter{
	width: 292px;
}
.filter_ele {
    background-color:#EFEFEF;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.filter_ele label {
    float:left;
    width:4.0em;
}

.filter_ele label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    font-size: 12px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.filter_ele label input {
    position:absolute;
    top:-20px;
    display: none;
}

.filter_ele input:checked + span {
    background-color:rgba(53, 142, 251, 0.8);
    color:#fff;
}