#query {
    padding: 3px 20px;
    width: 240px;
}
.tt-crf-leads .key, .tt-pyr-leads .key{
    display: inline-block;
    width: 145px;
}
.rich-marker .marker-wrap{
    display: inline-block;
    background-color: transparent;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.rich-marker.college .marker-wrap{
    color: #B62020;
}
.rich-marker.college:hover .marker-wrap{
    color: #680101;
}

.rich-marker.office .marker-wrap{
    color: #2D3CA8;
}

.rich-marker.office:hover .marker-wrap{
    color: #000F79;
}

.rich-marker .marker-wrap:before{
    display: none;
}
.rich-marker .marker-text{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    margin-left: 3px;
    top: 2px;
}
.rich-marker .marker-text{
    display: none;
}
.rich-marker:hover .marker-text{
    display: inline-block;
}
.rich-marker:hover{
    z-index: 1000;
} 
.rich-marker:hover .marker-ico{
    color: #990006;
}
.rich-marker .glyphicon-map-marker{
    font-size: 13px; 
    position: relative;
    top: 4px
}
/*.rich-marker:hover .glyphicon-map-marker{
    font-size: 24px; 
}*/
.rich-marker .marker-ico{
    font-size: 16px;
    color: #B62020;
    display: none;
}
.circle-marker .marker-ico{
    font-size: 20px;
    color: rgba(0,0,0,0.9);
}